---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1 class="text-3xl justify-center text-center pt-8">Em Breve Site do Leandro Pelegrini</h1>
<img src="img/icon_working.gif" alt="Gif Construção" class="mx-auto mt-8" style="width:226px">
<p class="text-center mt-8">Faltam apenas</p>
<img src="img/counter1.gif" alt="contador rápido" class="mx-auto" style="width:240px">
<p class="text-center">dias...</p>

{# {% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #} 
