<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Basics -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="canonical" href="{{ metadata.url }}">
    <link rel="shortcut icon" type="image/png" href="/img/icon_nerd.png">
    <link rel="apple-touch-icon" href="/img/icon_nerd_apple.png">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

    <!-- OpenGraph - https://ogp.me -->
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:site_name" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:url" content="{{ metadata.url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="og.png">

    <!-- Twitter (using large preview images) -->
    <meta name="twitter:title" content="{{ title or metadata.title }}">
    <meta name="twitter:description" content="{{ description or metadata.description }}">
    <meta name="twitter:url" content="{{ metadata.url }}">
    <meta name="twitter:domain" content="example.com">
    <meta name="twitter:image" content="og.png">
    <meta name="twitter:card" content="summary_large_image">

    <!-- PWA -->
    <meta name="theme-color" content="#FFFFFF">
    <link rel="manifest" href="/leandro.webmanifest">
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
    </script> 
  </head>
  <body>
    <header class="flex items-center justify-between px-8 border-b border-dashed border-neutral-500">
      <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      <ul class="nav p-2 md:flex ">
      {%- for entry in collections.all | eleventyNavigation %}
        <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %} my-2 mx-0"><a href="{{ entry.url | url }}" class="p-4 hover:bg-gray-100 transition cursor-pointer">{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </header>

    <main{% if templateClass %} class="{{ templateClass }} max-w-4xl mx-auto mt-8"{% endif %}>

      {{ content | safe }}

    </main>

    <footer></footer>

    {# Current page: {{ page.url | url }} #}
  </body>
</html>
